import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.impl.*
import hudson.util.Secret
import jenkins.model.Jenkins

global_domain = Domain.global()
credentials_store = Jenkins.instance.getExtensionList(
    'com.cloudbees.plugins.credentials.SystemCredentialsProvider'
  )[0].getStore()

// parameters
jenkinsKeyUsernameWithPasswordParameters = [
  description:  'Werum docker registry credentials',
  id:           'docker-cred',
  secret:       '{{ docker_registry_pwd }}',
  userName:     '{{ docker_registry_user }}'
]

// define docker registry secret
jenkinsKeyUsernameWithPassword = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  jenkinsKeyUsernameWithPasswordParameters.id,
  jenkinsKeyUsernameWithPasswordParameters.description,
  jenkinsKeyUsernameWithPasswordParameters.userName,
  jenkinsKeyUsernameWithPasswordParameters.secret
)

credentials_store.addCredentials(global_domain, jenkinsKeyUsernameWithPassword)
