FROM jenkins/jenkins:{{ jenkins_tag }}

ENV JAVA_OPTS="-Djenkins.install.runSetupWizard=false"
ENV CURL_OPTIONS="-sSfLk"
ENV JENKINS_UC=https://mirror.xmission.com/jenkins/
ENV JENKINS_UC_DOWNLOAD=http://mirror.xmission.com/jenkins/

USER root

COPY scripts/security.groovy /usr/share/jenkins/ref/init.groovy.d/security.groovy
COPY scripts/jenkins-privkey-credentials.groovy /usr/share/jenkins/ref/init.groovy.d/jenkins-privkey-credentials.groovy
COPY scripts/docker-registry-credentials.groovy /usr/share/jenkins/ref/init.groovy.d/docker-registry-credentials.groovy
COPY scripts/jenkins-agent.groovy /usr/share/jenkins/ref/init.groovy.d/jenkins-agent.groovy
COPY scripts/jenkins-set-url-and-email.groovy /usr/share/jenkins/ref/init.groovy.d/jenkins-set-url-and-email.groovy
COPY jenkins /tmp/jenkins
COPY jenkins.pub /tmp/jenkins.pub
COPY plugins.txt /usr/share/jenkins/ref/plugins.txt

RUN apt-get update -y && \
    chown jenkins:jenkins /tmp/jenkins && \
    chown jenkins:jenkins /tmp/jenkins.pub && \
    usr/local/bin/install-plugins.sh < /usr/share/jenkins/ref/plugins.txt

USER jenkins