import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*;

global_domain = Domain.global()
credentials_store = Jenkins.instance.getExtensionList(
    'com.cloudbees.plugins.credentials.SystemCredentialsProvider'
  )[0].getStore()

// Use ''' key ''' if multiline and 'key\nkey\nkey' if one line
private_key = '''
{{ lookup("file", "{{ role_path }}/files/jenkins") }}
'''

credentials = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  // Credentional ID
  'jenkins-agent-cred',
  // Username
  'jenkins', 
  // Private key
  new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(private_key),
  // Passphrase
  '', 
  // Description
  ''
)

credentials_store.addCredentials(global_domain, credentials)