version: '3'

services:
  reverse-proxy:
    image: traefik
    command: --api --docker
    restart: unless-stopped
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/data/traefik/traefik.toml:/etc/traefik/traefik.toml"
    networks:
      - traefik

networks:
  traefik:
    external:
      name: {{ traefik_network }}
      