version: '3'

services:  
  jenkins:
    image: {{ jenkins_image }}:{{ jenkins_tag }}
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - data:/var/jenkins_home/
    networks:
      - jenkins
    labels:
      - "traefik.enable=true"
      - "traefik.domain={{ inventory_hostname }}"
      - "traefik.frontend.rule=Host:{{ inventory_hostname }}"

volumes:
  data:

networks:
  jenkins:
    external:
      name: {{ jenkins_docker_network }}